/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {

    /* colors */
    --clr-primary: 162, 58%, 42%;
    --clr-neutral-800: 166, 35%, 12%;
    --clr-neutral-700: 164, 15%, 35%;
    --clr-neutral-600: 167, 10%, 43%;
    --clr-neutral-500: 166, 18%, 68%;
    --clr-neutral-400: 165, 27%, 88%;
    --clr-neutral-300: 171, 28%, 95%;
    --clr-neutral-200: 156, 45%, 98%;
    --clr-neutral-100: 0, 0%, 100%;
    
    /* font families */
    --ff-main: 'Inter', sans-serif;
    --ff-heading: 'Lora', serif;

    /* font sizes */
    --fs-900: 5rem;
    --fs-800: 3.5rem;
    --fs-700: 2.25rem;
    --fs-600: 1.5rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.875rem;
    --fs-100: 0.75rem;

    /* letter spacing */
    --letter-spacing-3: 4.72px;
    --letter-spacing-2: 2.7px;
    --letter-spacing-1: 2.35px;

    /* spacing */
    --margin-large: 3rem;
    --margin-medium: 2rem;
    --margin-small: 1rem;
}

@media (min-width: 60rem) {
    :root {
        --fs-900: 5rem;
        --fs-800: 3.2rem;
        --fs-700: 2rem;
        --fs-600: 1.5rem;
        --fs-500: 1.125rem;
        --fs-400: 1.125rem;
        --fs-300: 0.9375rem;
        --fs-200: 0.875rem;
        --fs-100: 0.75rem;
    }
}

/* ----------------- */
/* RESET             */
/* ----------------- */
*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    font-size: 18px;
    line-height: 1.8;
    color: hsl( var(--clr-neutral-600) );
    min-height: 100vh;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

input,
button,
textarea,
select {
    color: inherit;
    font: inherit;
}

hr {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl( var(--clr-neutral-800) );
    font-family: 'Lora', sans-serif;
    font-weight: 400;
}

p {
    font-weight: 400;
}

h1 {
    line-height: 1.2;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------- */
/* UTILITY CLASSES   */
/* ----------------- */
.container {
    padding-inline: 1rem;
    margin-inline: auto;
    max-width: 1368px;
}

@media (min-width: 500px) {
    .container {
        padding-inline: 1.5rem;
    }
}

.section {
    padding-block: 180px;
}
@media (max-width: 991px) {
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.d-inline-block {
    display: inline-block;
}

.align-items {
    align-items: center;
}

/* background colors */
.bg-primary {
    background-color: hsl( var(--clr-primary) );
}
.bg-neutral-800 {
    background-color: hsl( var(--clr-neutral-800) );
}
.bg-neutral-700 {
    background-color: hsl( var(--clr-neutral-700) );
}
.bg-neutral-600 {
    background-color: hsl( var(--clr-neutral-600) );
}
.bg-neutral-500 {
    background-color: hsl( var(--clr-neutral-500) );
}
.bg-neutral-400 {
    background-color: hsl( var(--clr-neutral-400) );
}
.bg-neutral-300 {
    background-color: hsl( var(--clr-neutral-300) );
}
.bg-neutral-200 {
    background-color: hsl( var(--clr-neutral-200) );
}
.bg-neutral-100 {
    background-color: hsl( var(--clr-neutral-100) );
}

/* colors */
.text-primary {
    color: hsl( var(--clr-primary) );
}
.text-neutral-800 {
    color: hsl( var(--clr-neutral-800) );
}
.text-neutral-700 {
    color: hsl( var(--clr-neutral-700) );
}
.text-neutral-600 {
    color: hsl( var(--clr-neutral-600) );
}
.text-neutral-500 {
    color: hsl( var(--clr-neutral-500) );
}
.text-neutral-400 {
    color: hsl( var(--clr-neutral-400) );
}
.text-neutral-300 {
    color: hsl( var(--clr-neutral-300) );
}
.text-neutral-200 {
    color: hsl( var(--clr-neutral-200) );
}
.text-neutral-100 {
    color: hsl( var(--clr-neutral-100) );
}

/* font families */
.ff-main {
    font-family: var(--ff-main);
}
.ff-heading {
    font-family: var(--ff-heading);
}

/* font sizes */
.fs-100 {
    font-size: var(--fs-100);
}
.fs-200 {
    font-size: var(--fs-200);
}
.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-900 {
    font-size: var(--fs-900);
}

/* font-weights */
.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}

/* letter spacing */
.letter-spacing-1 {
    letter-spacing: var(--letter-spacing-1);
}
.letter-spacing-2 {
    letter-spacing: var(--letter-spacing-2);
}
.letter-spacing-3 {
    letter-spacing: var(--letter-spacing-3);
}

/* spacing */

/* ----------------- */
/* COMPONENTS        */
/* ----------------- */
/* H1 */
h1 {
    font-size: 3.5rem;
    line-height: 1.2em;
    margin-top: 0px;
    margin-bottom: 24px;
}
@media screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 479px) {
    h1 {
        font-size: 34px;
    }
}

/* H2 */
h2 {
    font-size: 2.5rem;
    line-height: 1.3em;
    margin-bottom: 1.5rem;
}
@media (max-width: 60rem) {
    h2 {
        font-size: 2.25rem;
    }
}
@media (max-width: 48rem) {
    h2 {
        font-size: 2rem;
    }
}

/* H3 */
h3 {
    font-size: 1.75rem;
    line-height: 1.4;
}
@media screen and (max-width: 767px) {
    h3 {
        font-size: 24px;
    }
}

/* H4 */
h4 {
    font-size: 24px;
    line-height: 1.4;

}

/* H6 */
h6 {
    font-size: 18px;
    line-height: 1.3;
}

/* BUTTONS*/
.button-primary {
    display: inline-block;
    padding: 26px 46px;
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-neutral-100) );
    line-height: 1.1em;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
    border: 1px solid transparent;
}
.button-primary:hover,
.button-primary:focus {
    background-color: hsl( var(--clr-neutral-100) );
    color: hsl( var(--clr-neutral-800) );
    border-color: hsl( var(--clr-neutral-800) );
}

.button-secondary {
    display: inline-block;
    padding: 26px 46px;
    border: 1px solid hsl( var(--clr-neutral-800) );
    background-color: transparent;
    transition: all 300ms ease;
    color: hsl( var(--clr-neutral-800) );
    line-height: 20px;
    font-weight: 500;
    text-align: center;
}
.button-secondary:hover,
.button-secondary:focus {
    background-color: hsl( var(--clr-neutral-800) );
    border-color: hsl( var(--clr-neutral-800) );
    color: hsl( var(--clr-neutral-100) );
}

@media (max-width: 991px) {
    .button-primary,
    .button-secondary {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}
@media (max-width: 767px) {
    .button-primary,
    .button-secondary {
        padding: 20px 35px;
    }
}
@media (max-width: 479px) {
    .button-primary,
    .button-secondary {
        width: 100%;
    }

    .hero-buttons {
        flex-direction: column;
    }
}

/* SUBTITLE */
.subtitle-flex {
    align-items: center;
    margin-bottom: 1rem;
}
.subtitle-dash {
    width: 1em;
    min-height: 2px;
    margin-right: 1em;
    background-color: hsl( var(--clr-primary) );
}
.subtitle {
    color: hsl( var(--clr-primary) );
    line-height: 1.1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* ----------------- */
/* SECTIONS          */
/* ----------------- */
/* PRIMARY HEADER */
.primary-header {
    background-color: hsl( var(--clr-neutral-100) );
    top: 0;
    width: 100%;
    color: hsl( var(--clr-neutral-800) );
    z-index: 3;
    border-bottom: 1px solid hsl( var(--clr-neutral-400) );
}
.primary-header--container {
    position: relative;
    align-items: center;
    padding-block: 2rem;
}

@media (max-width: 1100px) {
    /* primary header */
    .primary-header {
        height: 100px;
    }
    .primary-header--container {
        position: relative;
        height: 100%;
        justify-content: flex-end;
    }
    /* logo */
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* logo */
.logo {
    align-items: center;
    --gap: 0;
    font-size: 2rem;
    font-weight: 500;
}
.logo .fa {
    margin-inline: 0.5rem;
}

@media (max-width: 30rem) {
    .logo {
        font-size: 1.5rem;
    }
}
@media (max-width: 20rem) {
    .logo {
        font-size: 1.25rem;
    }
}

/* primary nav */
.primary-nav {
    margin-left: auto;
    --gap: 1.5rem;
}
.primary-nav-link {
    transition: all 0.4s ease;
}
.primary-nav-link:hover,
.primary-nav-link:focus {
    color: hsl( var(--clr-primary) );
}
.primary-nav li.active {
    color: hsl( var(--clr-primary) );
}

@media (max-width: 1100px) {
    .primary-nav {
        position: fixed;
        height: 100vh;
        padding: 10rem 0 0 5rem;
        background-color: hsl( var(--clr-neutral-800), 0.9);
        color: #fff;
        backdrop-filter: blur(1.5rem);
        inset: 0 55% 0 0;
        z-index: 999;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
    }
    .primary-nav[data-visible='true'] {
        transform: translateX(0);
    }
    .primary-nav-list {
        flex-direction: column;
    }
}

@media (max-width: 35rem) {
    .primary-nav {
        inset: 0 30% 0 0;
    }
}

/* contact div */
.contact-div {
    --gap: 0.5rem;
    margin-left: 5rem;
}

.phone-icon .fa {
    font-size: 1.875rem;
}

@media (max-width: 40rem) {
    .contact-number {
        display: none;
    }
    .phone-icon {
        margin-top: 5px;
    }
    .phone-icon .fa {
        font-size: 2.2rem;
    }
}

/* mobile nav toggle */
.mobile-nav-toggle {
    display: none;
    position: absolute;
}

@media (max-width: 1100px) {
    .mobile-nav-toggle {
        display: block;
        left: 1rem;
        z-index: 1000;
        background-color: transparent;
    }
}

/* HERO */
.section-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 740px;
    min-height: 72vh;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.hero-image-div {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 420px;
    max-width: 50%;
    align-items: stretch;
    align-self: flex-end;
    flex: 1;
}

.hero-image-div img {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 100% 50%;
}

.container-hero {
    position: absolute;
    left: 0;
    right: 0;
}

.container-hero-content-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.container-hero-content {
    max-width: 95%;
}

@media screen and (max-width: 991px) {
    .section-hero {
        height: auto;
        min-height: auto;
        padding-top: 80px;
        justify-content: flex-start;
        align-items: stretch;
    }
    .container-hero {
        position: static;
    }
    .container-hero-content-grid {
        grid-template-columns: 1fr;
        margin-bottom: 80px;
    }
    .hero-image-div {
        max-width: 100%;
        overflow: hidden;
        min-height: 420px;
    }
}

@media (max-width: 479px) {
    .section-hero {
        padding-top: 60px;
    }
    .container-hero-content {
        max-width: 100%;
    }
}

/* FOOTER */
footer {
    background-color: hsl( var(--clr-dark) );
    color: #7c7c7c;
    padding-block: 120px;
}

.logo-footer {
    position: initial;
    align-items: center;
    --gap: 0.5rem;
    font-size: 2rem;
}
@media (max-width: 20rem) {
    .logo-footer {
        font-size: 1.75rem;
    }
}

.logo-footer p {
    line-height: 1;
}

.footer-social-icons {
    --gap: 2rem;
}
.footer-social-icons .fa {
    cursor: pointer;
    font-size: 1.5rem;
}

.footer-heading {
    color: hsl( var(--clr-primary) );
    font-size: 1rem;
}

.footer ul li a {
    position: relative;
    padding-left: 15px;
}

.footer a:hover,
.footer a:focus {
    color: hsl( var(--clr-primary) );
}

.footer ul li a:before {
    content: "\f105";
    position: absolute;
    display: inline-block;
    left: 0;
    margin-top: 8px;
    font: normal normal normal 14px/1 FontAwesome;
}

.footer-info-item {
    align-items: center;
    --gap: 1rem;
}

.container-footer {
    flex-direction: column;
    --gap: 2rem;
}
.container-footer > * {
    width: 100%;
}

@media (min-width: 40rem) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container-footer > * {
        width: 45%;
    }
}

@media(min-width: 1200px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: nowrap;
        --gap: 4rem;
    }
    .container-footer > * {
        width: 100%;
    }
}

/* PROJECTS */
.container-projects {
    flex-direction: column;
}
.projects-top {
    justify-content: space-between;
    margin-bottom: 60px;
}
.projects-top > * {
    width: 100%;
}
.projects-top-left {
    max-width: 400px;
}
.projects-top-left h2 {
    margin-bottom: 0;
    line-height: 1;
}
.projects-top-right a {
    align-self: flex-end;
    margin-left: auto;
}

.projects {
    grid-template-areas: 
    "project1 project2 project3 project3 project4"
    "project5 project6 project3 project3 project7";
}
.project2 {
    grid-area: project2;
}
.project3 {
    grid-area: project3;
}
.project4 {
    grid-area: project4;
}
.project5 {
    grid-area: project5;
}
.project6 {
    grid-area: project6;
}
.project7 {
    grid-area: project7;
}
.project img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-link {
    position: relative;
    transition: all .5s ease-in;
    height: 100%;
}
.card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: hsl( var(--clr-neutral-800), 0.85 );
}
.overlay__text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}
.button-project {
    font-size: 0.9rem;
    padding: 10px 20px;
}
.project-link:hover .card__overlay {
    opacity: 1;
}

@media (max-width: 991px) {
    .projects-top {
        flex-direction: column;
        --gap: 2rem;
    }
    .projects-top-right a {
        align-self: initial;
        margin-left: 0;
    }
    .project3 {
        display: none;
    }
    .project {
        min-height: 250px;
    }
    .projects {
        grid-template-areas: 
        "project1 project2 project7"
        "project4 project5 project6";
    }
}
@media (max-width: 767px) {
    .projects {
        grid-template-areas: 
        "project1 project2"
        "project7 project4"
        "project5 project6";
    }
}
@media (max-width: 476px) {
    .projects {
        grid-template-areas: 
        "project1"
        "project2"
        "project7"
        "project4"
        "project5"
        "project6";
    }
}

/* SERVICES */
.container-services {
    flex-direction: column;
}
.services-top {
    justify-content: space-between;
    margin-bottom: 60px;
}
.services-top > * {
    width: 100%;
}
.services-top-left {
    max-width: 400px;
}
.services-top-left h2 {
    margin-bottom: 0;
    line-height: 1;
}
.services-top-right a {
    align-self: flex-end;
    margin-left: auto;
}

.cards {
    grid-template-columns: repeat(3, 1fr);
    --gap: 5rem;
}
.card {
    border: 1px solid hsl( var(--clr-neutral-400) );
    transition: all 0.3s ease;
}
.card:hover {
    scale: .975;
}
.card-image img {
    width: 100%;
    height: 40vh;
    max-height: 300px;
    object-fit: cover;
}
.card-text {
    padding: 40px 40px 48px;
}
.card-text h3 {
    color: rgb(20, 42, 37);
    margin-bottom: 8px;
}
.card-text p {
    margin-bottom: 28px;
}
.card-text-link {
    align-items: center;
    --gap: 1rem;
    color: hsl( var(--clr-primary) );
    transition: all 0.3s ease;
}
.card-text-link:hover {
    --gap: 1.5rem;
}
.card-text-link p {
    margin-bottom: 0;
}
@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 991px) {
    .services-top {
        flex-direction: column;
        --gap: 2rem;
    }
    .services-top-right a {
        align-self: initial;
        margin-left: 0;
    }
    .cards {
        --gap: 3rem;
    }
}
@media (max-width: 767px) {
    .cards {
        grid-template-columns: 1fr;
    }
    .card-image img {
        height: 30vh;
    }
    .card-text {
        padding: 20px 20px 32px;
    }
}

/* ABOUT US */
.section-about-us {
    background-color: hsl( var(--clr-neutral-200) );
}
.container-about-us {
    align-items: center;
    gap: 5rem;
}
.container-about-us > * {
    width: 100%;
}
.about-us-images {
    position: relative;
    max-width: 55%;
    height: 600px;
}
.about-us-image-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 420px;
    background-image: url(../assets/images/image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.about-us-image-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 480px;
    height: 420px;
    background-image: url(../assets/images/image-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.about-us-content {
    max-width: 40%;
}
.about-us-icons {
    margin-block: 40px;
    grid-template-columns: repeat(2, 1fr);
}
.about-us-icon {
    align-items: center;
}
.about-us-icon .fa {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    color: hsl( var(--clr-primary) );
}

@media (max-width: 1200px) {
    .container-about-us {
        gap: 3.5rem;
    }
    .about-us-image-1 {
        width: 420px;
        height: 360px;
    }
    .about-us-image-2 {
        width: 420px;
        height: 360px;
    }
}
@media (max-width: 991px) {
    .container-about-us {
        gap: 3.5rem;
        flex-direction: column-reverse;
        align-items: initial;
    }
    .about-us-images {
        max-width: none;
    }
    .about-us-image-1 {
        width: 550px;
        height: 440px;
        bottom: 0px;
    }
    .about-us-image-2 {
        width: 550px;
        height: 440px;
    }
    .about-us-content {
        max-width: none;
    }
    .about-us-icons {
        max-width: 70%;
    }
    
}
@media (max-width: 800px) {
    .about-us-image-1 {
        width: 460px;
        height: 400px;
    }
    .about-us-image-2 {
        width: 460px;
        height: 400px;
    }
    .about-us-icons {
        grid-auto-columns: max-content;
    }
}
@media (max-width: 700px) {
    .about-us-images {
        height: 400px;
    }
    .about-us-image-1 {
        width: 100%;
        height: 100%;
        background-position: center center;
    }
    .about-us-image-2 {
        display: none;
    }
    .about-us-icons {
        max-width: none;
    }
}
@media (max-width: 500px) {
    .about-us-icons {
        grid-template-columns: 1fr;
    }
}

/* WHY US */
.section-why-us {
    text-align: center;
    border-bottom: 1px solid hsl( var(--clr-neutral-400) );
}
.why-us-text {
    max-width: 700px;
    margin-inline: auto;
    margin-bottom: 56px;
}
.why-us-text .subtitle {
    margin-bottom: 24px;
}
.why-us-stats {
    grid-template-columns: repeat(4, 1fr);
}
.why-us-stat-number {
    font-size: 70px;
    font-family: var(--ff-heading);
    color: hsl( var(--clr-neutral-800) );
}
.why-us-stat-number span {
    color: hsl( var(--clr-primary) );
}
.why-us-stat-text {
    font-size: 28px;
    line-height: 1.4;
}

@media (max-width: 991px) {
    .why-us-stats {
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
        margin-inline: auto;
    }
}
@media (max-width: 767px) {
    .why-us-stats {
        max-width: none;
    }
    .why-us-text {
        margin-bottom: 32px;
    }
    .why-us-stat-number {
        font-size: 52px;
    }
    .why-us-stat-text {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .why-us-stat-number {
        font-size: 88px;
    }
}

/* TESTIMONIALS */
.container-testimonials {
    position: relative;
    align-items: center;
}
.slider-buttons {
    position: absolute;
    right: 10rem;
    bottom: 7rem;
    z-index: 10;
}
.slider-buttons > * + * {
    margin-left: 2rem;
}
.testimonials-content {
    width: 33%;
}
.testimonials-box {
    position: relative;
    height: 450px;
    width: 60%;
    border: 1px solid hsl( var(--clr-neutral-400) );
    overflow: hidden;
}
.reviews-content-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    max-width: 100%;
    padding: 4rem;
    transition: 0.5s linear all;
    transform: translateX(0%);
}
.testimonials-box-bottom {
    align-items: center;
    justify-content: space-between;
}
.testimonials-box hr {
    height: 1px;
    background-color: hsl( var(--clr-neutral-400) );
    margin-top: 28px;
    margin-bottom: 18px;
}
.box-bottom-left {
    align-items: center;
}
.bottom-left-image {
    height: 68px;
    width: 68px;
    border-radius: 50%;
}
.bottom-left-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.arrow-button {
    height: 48px;
    width: 48px;
    border: 1px solid hsl( var(--clr-neutral-400) );
}
.section-testimonials h4 {
    margin-bottom: 12px;
}

@media (max-width: 1360px) {
    .slider-buttons {
        bottom: 6rem;
    }
}
@media (max-width: 1105px) {
    .slider-buttons {
        bottom: 5rem;
    }
}
@media (max-width: 1000px) {
    .slider-buttons {
        bottom: 4rem;
        right: 7rem;
    }
}
@media (max-width: 991px) {
    .container-testimonials {
        flex-direction: column;
        align-items: initial;
    }
    .testimonials-content {
        width: 100%;
        margin-bottom: 48px;
    }
    .testimonials-box {
        width: 100%;
    }
    .slider-buttons {
        bottom: 7rem;
    }
}
@media (max-width: 850px) {
    .slider-buttons {
        bottom: 6rem;
    }
}
@media (max-width: 800px) {
    .testimonials-box {
        height: 380px;
    }
    .slider-buttons {
        bottom: -70px;
        right: initial;
        left: calc(50% - 66px);
    }
    .section-testimonials {
        padding-bottom: 150px;
    }
}
@media (max-width: 630px) {
    .testimonials-box {
        height: 440px;
    }
}
@media (max-width: 550px) {
    .testimonials-box {
        height: 500px;
    }
    .reviews-content-slide {
        padding: 2rem;
    }
}
@media (max-width: 390px) {
    .testimonials-box {
        height: 540px;
    }
    .reviews-content-slide {
        padding: 1rem;
    }
}
@media (max-width: 335px) {
    .testimonials-box {
        height: 600px;
    }
}

/* DARK BACKGROUND */
.dark-background {
    background-color: hsl( var(--clr-neutral-800) );
    height: 520px;
    min-height: 520px;
    color: hsl( var(--clr-neutral-100) );
}

.dark-background h2 {
    color: hsl( var(--clr-neutral-100) );
    margin-bottom: 48px;
    font-size: 54px;
    width: 60%;
}

.container-dark-bg {
    height: 100%;
    place-content: center;
}

@media (max-width: 991px) {
    .dark-background {
        height: 450px;
        min-height: 450px;
    }
    .dark-background h2 {
        font-size: 48px;
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .dark-background h2 {
        font-size: 40px;
        width: 100%;
    }
}

@media (max-width: 479px) {
    .dark-background {
        height: 460px;
        min-height: 460px;
    }
    .dark-background h2 {
        font-size: 34px;
    }
}

/* CONTACT */
.section-contact {
    background-color: hsl( var(--clr-neutral-200) );
}
.container-contact {
    flex-direction: column;
}
@media (min-width: 60rem) {
    .container-contact {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contact-left {
    width: 100%;
    max-width: 33%;
    min-width: 380px;
}

.contact-right {
    width: 100%;
    max-width: 58%;
}

.section-contact .fa {
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-neutral-100) );
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    min-width: 50px;
}

.contact-form .button-primary {
    width: 100%;
}

.contact-links {
    --flow-space: 1.5rem;
}

.contact-link {
    max-width: 320px;
}

@media (max-width: 60rem) {
    .contact-link {
        max-width: 100%;
    }
    .contact-left,
    .contact-right {
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }
    .contact-left {
        margin-bottom: 48px;
    }
}

form {
    padding: 80px 64px;
    background-color: #fff;
    box-shadow: 0 14px 24px 0 rgb(99 122 117 / 10%);
    display: grid;
    grid-template-columns: 1fr;
    --gap: 40px;
}

@media (max-width: 679px) {
    form {
        grid-template-columns: 1fr;
        padding: 60px 42px;
    }
}

@media (max-width: 991px) {
    form {
        grid-column-gap: 32px;
    }
}

.input {
    min-height: 72px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-width: 1px 1px 1.5px;
    border-color: #000 #000 #a0bdb6;
    border-radius: 0px;
    background-color: transparent;
    color: #142a25;
    font-size: 18px;
    line-height: 1.8em;
    width: 100%;
}

.text-area {
    min-height: 130px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-width: 1px 1px 1.5px;
    border-color: #000 #000 #a0bdb6;
    color: #142a25;
    font-size: 18px;
    line-height: 1.8em;
    grid-column: span 2;
    width: 100%;
}

::placeholder {
    color: hsl( var(--clr-neutral-500) );
    opacity: 1;
}

.contact-form {
    grid-template-areas: 
            "name"
            "email"
            "phone"
            "subject"
            "message"
            "submit";
}
@media (min-width: 40rem) {
    .contact-form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "name email"
            "phone subject"
            "message message"
            "submit .";
    }
}

.name {
    grid-area: name;
}
.email {
    grid-area: email;
}
.phone {
    grid-area: phone;
}
.subject {
    grid-area: subject;
}
.message {
    grid-area: message;
}
.submit {
    grid-area: submit;
}

/* ----------------- */
/* PAGE SPECIFIC     */
/* ----------------- */

/* SERVICES PAGE */
.section-services-page {
    padding-top: 120px;
    padding-bottom: 180px;
    border-bottom: 1px solid hsl( var(--clr-neutral-400) );
}
.services-page-top {
    margin-bottom: 48px;
    text-align: center;
    max-width: 480px;
    margin-inline: auto;
}

/* ABOUT US PAGE */
/* hero */
.section-about-us-hero {
    padding-top: 120px;
}
.container-about-us-hero {
    --gap: 4rem;
}
.container-about-us-hero > * {
    width: 100%;
}
.about-hero-content {
    flex-direction: column;
    --gap: 0rem;
    justify-content: center;
}
.about-hero-content p {
    margin-bottom: 40px;
}
.about-hero-content .button-primary {
    align-self: flex-start;
}
.about-hero-image img {
    width: 100%;
    object-fit: cover;
    max-height: 600px;
}
@media (max-width: 991px) {
    .container-about-us-hero {
        flex-direction: column-reverse;
    }
    .about-hero-content {
        max-width: 75%;
    }
}
@media (max-width: 767px) {
    .about-hero-content {
        max-width: 100%;
    }
}
/* our mission */
.section-our-mission {
    background-color: hsl( var(--clr-neutral-200) );
    --gap: 4rem;
}
.container-our-mission > * {
    width: 100%;
}
.our-mission-content {
    flex-direction: column;
    justify-content: center;
    --gap: 0rem;
}
.our-mission-content p {
    margin-bottom: 32px;
}
.our-mission-content .button-primary {
    align-self: flex-start;
}
@media (max-width: 991px) {
    .container-our-mission {
        flex-direction: column;
    }
}
/* values */
.values-top {
    margin-bottom: 48px;
    align-items: center;
}
.values-top > * {
    width: 100%;
}
.values-bottom {
    grid-template-columns: 1fr 1fr 1fr;
    --gap: 2rem;
}
.value-card {
    padding: 48px 32px 56px 30px;
    border: 1px solid #d9e9e5;
}
.value-card p {
    max-width: 90%;
}
.value-card-heading {
    align-items: center;
    margin-bottom: 24px;
}
.value-card-heading .fa{
    color: hsl( var(--clr-primary) );
    font-size: 2rem;
}
.values-button {
    text-align: center;
    margin-top: 48px;
}
@media (max-width: 1200px) {
    .value-card-heading {
        flex-direction: column;
        align-items: initial;
    }
}
@media (max-width: 991px) {
    .values-bottom {
        grid-template-columns: 1fr 1fr;
    }
    .value-card p {
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .values-top {
        flex-direction: column;
        align-items: initial;
    }
    .values-bottom {
        grid-template-columns: 1fr;
        --gap: 1rem;
    }
    .value-card-heading {
        --gap: 1.5rem;
        margin-bottom: 8px;
    }
}
/* experience */
.section-experience {
    background-color: hsl( var(--clr-neutral-200) );
}
.experience-bottom {
    --gap: 4rem;
}
.experience-bottom > * {
    width: 100%;
}
.experience-bottom-right {
    place-content: center;
    --gap: 1rem;
}
.experience-dropdown {
    cursor: pointer;
    padding-block: 2rem;
    border-bottom: 1px solid hsl( var(--clr-neutral-400) );
}
.dropdown-heading {
    align-items: center;
    --gap: 1rem;
    margin-bottom: 24px;
}
.dropdown-heading .fa {
    color: hsl( var(--clr-primary) );
    font-size: 2rem;
}
.dropdown-heading .fa-chevron-down {
    color: hsl( var(--clr-neutral-600) );
    font-size: 1rem;
    margin-left: auto;
}
.dropdown-text {
    height: 0px;
    opacity: 0;
    padding-left: 3rem;
    transition: all 0.3s ease;
}
@media (max-width: 991px) {
    .experience-bottom {
        flex-direction: column-reverse;
    }
}
@media (max-width: 767px) {
    .dropdown-heading-left {
        flex-direction: column;
    }
    .dropdown-text {
        padding-left: 0rem;
    }
    .dropdown-heading .fa-chevron-down {
        align-self: flex-end;
        margin-bottom: 6px;
    }
    .dropdown-heading-left h3 {
        line-height: 1;
    }
}

/* CONTACT PAGE */
.contact .section-contact {
    padding-top: 120px;
}
/* info */
.info-image img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}
.info-cards {
    margin-top: -100px;
    max-width: 1000px;
    padding-inline: 24px;
    margin-inline: auto;
    --gap: 2rem;
}
.info-cards > * {
    width: 100%;
}
.info-card {
    padding: 48px 40px;
    border: 1px solid #d9e9e5;
    background-color: #fff;
    text-align: center;
}
.info-card .fa {
    color: hsl( var(--clr-primary) );
    font-size: 2rem;
}
@media (max-width: 991px) {
    .info-cards {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .info-cards {
        margin-top: -50px;
    }
}
@media (max-width: 476px) {
    .info-cards {
        margin-top: -25px;
    }
    .info-card {
        padding: 48px 20px;
    }
}
/* faq */
.section-faq {
    padding-top: 0;
    border-bottom: 1px solid hsl( var(--clr-neutral-400) );
}
.faq-top {
    max-width: 550px;
    margin-bottom: 48px;
    margin-inline: auto;
    text-align: center;
}
.faq-top .subtitle {
    margin-bottom: 24px;
}
.faq {
    flex-direction: column;
    padding: 30px;
    border: 1px solid #d9e9e5;
    --gap: 0rem;
    margin-bottom: 1rem;
    /* padding-bottom: 40px; */
}
.faq .dropdown-heading .fa-chevron-down {
    align-self: initial;
    margin-left: auto;
}
.faq .dropdown-text {
    padding-left: 0;
    margin-bottom: 1rem;
}
@media (max-width: 1050px) {
    .faq-bottom {
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    .faq .dropdown-text {
        margin-bottom: 2rem;
    }
}
@media (max-width: 476px) {
    .faq .dropdown-text {
        margin-bottom: 4rem;
    }
    .faq {
        padding-inline: 12px;
    }
}
@media (max-width: 360px) {
    .faq .dropdown-text {
        margin-bottom: 6rem;
    }
}

/* PROJECTS PAGE */
.projects .section-projects {
    padding-top: 120px;
}
.projects .projects-top > * {
    width: 100%;
}
.projects .projects-top-left {
    max-width: none;
}

/* SERVICE SINGLE PAGE */
.section-ss-hero {
    padding-top: 120px;
    padding-bottom: 0;
}
.ss-hero {
    position: relative;
}
.ss-hero img {
    max-height: 650px;
    width: 100%;
    object-fit: cover;
}
.ss-hero-box {
    position: absolute;
    padding: 74px 72px 88px;
    bottom: 50px;
    left: 50px;
    background-color: #fff;
    max-width: 48%;
    border: 1px solid #d9e9e5;
}
@media (max-width: 1050px) {
    .ss-hero-box {
        left: 30px;
        bottom: 30px;
        min-width: 360px;
        padding: 33px 37px;
    }
}
@media (max-width: 767px) {
    .section-ss-hero {
        padding-bottom: 180px;
    }
    .ss-hero-box {
        bottom: -150px;
        left: 0;
        right: 0;
        min-width: 90%;
        width: 90%;
        margin-inline: auto;
        padding: 33px 37px;
    }
}
@media (max-width: 476px) {
    .ss-hero-box {
        padding: 20px;
    }
}
@media (max-width: 400px) {
    .ss-hero-box {
        bottom: -200px;
    }
}
/* more details */
.section-more-details {
    padding-bottom: 300px;
}
.more-details-top {
    margin-bottom: 48px;
}
.more-details-top > * {
    width: 100%;
}
.more-details-bottom {
    position: relative;
    --gap: 0rem;
}
.more-details-bottom .image-1 {
    width: 60%;
}
.more-details-bottom .image-2 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 60%;
    max-height: 528px;
}
@media (max-width: 991px) {
    .more-details-top {
        flex-direction: column;
    }
    .section-more-details {
        padding-bottom: 220px;
    }
}
@media (max-width: 767px) {
    .section-more-details {
        padding-bottom: 180px;
    }
}
@media (max-width: 476px) {
    .section-more-details {
        padding-bottom: 120px;
    }
    .more-details-bottom {
        position: relative;
        flex-direction: column;
        --gap: 1rem;
    }
    .more-details-bottom .image-1 {
        width: 100%;
    }
    .more-details-bottom .image-2 {
        position: relative;
        width: 100%;
    }
}
/* process */
.container-process {
    flex-direction: column;
}
.process-bottom {
    flex-direction: column;
}
.process-card {
    width: 70%;
    border: 1px solid #d9e9e5;
}
.process-card > * {
    width: 100%;
}
.process-card-content {
    padding: 20px;
}
.process-card-number {
    font-family: Lora, sans-serif;
    font-size: 60px;
    line-height: 1.1666666666666667em;
    font-style: italic;
    font-weight: 500;
}
.process-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.process-card-1,
.process-card-3 {
    margin-left: auto;
}
@media (max-width: 991px) {
    .process-card {
        width: 85%;
    }
}
@media (max-width: 767px) {
    .process-card {
        width: 100%;
        flex-direction: column-reverse;
    }
}
/* why us */
.single-service .section-values {
    background-color: hsl( var(--clr-neutral-200) );
}
.single-service .value-card {
    background-color: hsl( var(--clr-neutral-100) );
}
/* more services */
.section-more-services {
    border-bottom: 1px solid hsl( var(--clr-neutral-400) );
}

/* PROJECT SINGLE PAGE */
.single-project .section-more-details {
    padding-bottom: 0;
}
.gallery {
    grid-template-columns: 1fr 1fr 1fr;
    --gap: 2rem;
}
.gallery img {
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.05);
}
@media (max-width: 991px) {
    .gallery {
        --gap: 1rem;
    }
}
@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 467px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.ccc {
    align-items: center;
}
.services-link {
    --gap: 0.5rem;
    position: relative;
    margin-left: -1.5rem;
}
.services-link .fa {
    font-size: 0.9rem;
}
.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 180px;
    padding: 1rem;
    padding-left: 2rem;
    top: 30px;
}
.dropdown-content a {
    display: block;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}
.dropdown-content a:hover {
    color: hsl( var(--clr-primary) );
}
.services-list-item:hover~.dropdown-content {
    display: block;
}
.dropdown-content:hover {
    display: block;
}

@media (max-width: 1100px) {
    .services-list-item:hover~.dropdown-content {
        display: none;
    }
    .ccc .fa {
        display: none;
    }
    .services-link {
        --gap: 0.5rem;
        position: relative;
        margin-top: -1.5rem;
        margin-left: 0;
    }
}



.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    background-color: hsl( var(--clr-primary) );
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 476px) {
    .bar1, .bar2, .bar3 {
        width: 32px;
        height: 4px;
        margin: 7px 0;
    }
}