/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {

    /* colors */
    --clr-primary: 162, 58%, 42%;
    --clr-neutral-800: 166, 35%, 12%;
    --clr-neutral-700: 164, 15%, 35%;
    --clr-neutral-600: 167, 10%, 43%;
    --clr-neutral-500: 166, 18%, 68%;
    --clr-neutral-400: 165, 27%, 88%;
    --clr-neutral-300: 171, 28%, 95%;
    --clr-neutral-200: 156, 45%, 98%;
    --clr-neutral-100: 0, 0%, 100%;
    
    /* font families */
    --ff-main: 'Inter', sans-serif;
    --ff-heading: 'Lora', serif;

    /* font sizes */
    --fs-900: 5rem;
    --fs-800: 3.5rem;
    --fs-700: 2.25rem;
    --fs-600: 1.5rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.875rem;
    --fs-100: 0.75rem;

    /* letter spacing */
    --letter-spacing-3: 4.72px;
    --letter-spacing-2: 2.7px;
    --letter-spacing-1: 2.35px;

    /* spacing */
    --margin-large: 3rem;
    --margin-medium: 2rem;
    --margin-small: 1rem;
}

@media (min-width: 60rem) {
    :root {
        --fs-900: 5rem;
        --fs-800: 3.2rem;
        --fs-700: 2rem;
        --fs-600: 1.5rem;
        --fs-500: 1.125rem;
        --fs-400: 1.125rem;
        --fs-300: 0.9375rem;
        --fs-200: 0.875rem;
        --fs-100: 0.75rem;
    }
}

/* ----------------- */
/* RESET             */
/* ----------------- */
*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    font-size: 18px;
    line-height: 1.8;
    color: hsl( var(--clr-neutral-600) );
    min-height: 100vh;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

input,
button,
textarea,
select {
    color: inherit;
    font: inherit;
}

hr {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

h1 {
    line-height: 1.2;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------- */
/* UTILITY CLASSES   */
/* ----------------- */
.container {
    padding-inline: 1rem;
    margin-inline: auto;
    max-width: 1368px;
}

@media (min-width: 500px) {
    .container {
        padding-inline: 1.5rem;
    }
}

.section {
    padding-block: 180px;
}
@media (max-width: 991px) {
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.d-inline-block {
    display: inline-block;
}

.align-items {
    align-items: center;
}

/* background colors */
.bg-primary {
    background-color: hsl( var(--clr-primary) );
}
.bg-neutral-800 {
    background-color: hsl( var(--clr-neutral-800) );
}
.bg-neutral-700 {
    background-color: hsl( var(--clr-neutral-700) );
}
.bg-neutral-600 {
    background-color: hsl( var(--clr-neutral-600) );
}
.bg-neutral-500 {
    background-color: hsl( var(--clr-neutral-500) );
}
.bg-neutral-400 {
    background-color: hsl( var(--clr-neutral-400) );
}
.bg-neutral-300 {
    background-color: hsl( var(--clr-neutral-300) );
}
.bg-neutral-200 {
    background-color: hsl( var(--clr-neutral-200) );
}
.bg-neutral-100 {
    background-color: hsl( var(--clr-neutral-100) );
}

/* colors */
.text-primary {
    color: hsl( var(--clr-primary) );
}
.text-neutral-800 {
    color: hsl( var(--clr-neutral-800) );
}
.text-neutral-700 {
    color: hsl( var(--clr-neutral-700) );
}
.text-neutral-600 {
    color: hsl( var(--clr-neutral-600) );
}
.text-neutral-500 {
    color: hsl( var(--clr-neutral-500) );
}
.text-neutral-400 {
    color: hsl( var(--clr-neutral-400) );
}
.text-neutral-300 {
    color: hsl( var(--clr-neutral-300) );
}
.text-neutral-200 {
    color: hsl( var(--clr-neutral-200) );
}
.text-neutral-100 {
    color: hsl( var(--clr-neutral-100) );
}

/* font families */
.ff-main {
    font-family: var(--ff-main);
}
.ff-heading {
    font-family: var(--ff-heading);
}

/* font sizes */
.fs-100 {
    font-size: var(--fs-100);
}
.fs-200 {
    font-size: var(--fs-200);
}
.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-900 {
    font-size: var(--fs-900);
}

/* font-weights */
.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}

/* letter spacing */
.letter-spacing-1 {
    letter-spacing: var(--letter-spacing-1);
}
.letter-spacing-2 {
    letter-spacing: var(--letter-spacing-2);
}
.letter-spacing-3 {
    letter-spacing: var(--letter-spacing-3);
}

/* spacing */

/* ----------------- */
/* COMPONENTS        */
/* ----------------- */
/* H1 */
h1 {
    font-family: 'Lora', sans-serif;
    color: hsl( var(--clr-neutral-800) );
    font-size: 3.5rem;
    line-height: 1.2em;
    margin-top: 0px;
    margin-bottom: 24px;
}
@media screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 479px) {
    h1 {
        font-size: 34px;
    }
}

/* H2 */
h2 {
    font-family: 'Lora', sans-serif;
    color: hsl( var(--clr-neutral-800) );
    font-size: 2.5rem;
    line-height: 1.3em;
    margin-bottom: 1.5rem;
}
@media (max-width: 60rem) {
    h2 {
        font-size: 2.25rem;
    }
}
@media (max-width: 48rem) {
    h2 {
        font-size: 2rem;
    }
}

/* H3 */
h3 {
    font-family: 'Lora', sans-serif;
    color: hsl( var(--clr-neutral-800) );
    font-size: 1.75rem;
    line-height: 1.4;
}
@media screen and (max-width: 767px) {
    h3 {
        font-size: 24px;
    }
}

/* BUTTONS*/
.button-primary {
    display: inline-block;
    padding: 26px 46px;
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-neutral-100) );
    line-height: 1.1em;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
    border: 1px solid transparent;
}
.button-primary:hover,
.button-primary:focus {
    background-color: hsl( var(--clr-neutral-100) );
    color: hsl( var(--clr-neutral-800) );
    border-color: hsl( var(--clr-neutral-800) );
}

.button-secondary {
    display: inline-block;
    padding: 26px 46px;
    border: 1px solid hsl( var(--clr-neutral-800) );
    background-color: transparent;
    transition: all 300ms ease;
    color: hsl( var(--clr-neutral-800) );
    line-height: 20px;
    font-weight: 500;
    text-align: center;
}
.button-secondary:hover,
.button-secondary:focus {
    background-color: hsl( var(--clr-neutral-800) );
    border-color: hsl( var(--clr-neutral-800) );
    color: hsl( var(--clr-neutral-100) );
}

@media (max-width: 991px) {
    .button-primary,
    .button-secondary {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}
@media (max-width: 767px) {
    .button-primary,
    .button-secondary {
        padding: 20px 35px;
    }
}
@media (max-width: 479px) {
    .button-primary,
    .button-secondary {
        width: 100%;
    }

    .hero-buttons {
        flex-direction: column;
    }
}

/* SUBTITLE */
.subtitle-flex {
    align-items: center;
    margin-bottom: 1rem;
}
.subtitle-dash {
    width: 1em;
    min-height: 2px;
    margin-right: 1em;
    background-color: hsl( var(--clr-primary) );
}
.subtitle {
    color: hsl( var(--clr-primary) );
    line-height: 1.1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* ----------------- */
/* SECTIONS          */
/* ----------------- */
/* PRIMARY HEADER */
.primary-header {
    background-color: hsl( var(--clr-neutral-100) );
    /* position: fixed; */
    top: 0;
    width: 100%;
    color: hsl( var(--clr-neutral-800) );
    z-index: 3;
    border-bottom: 1px solid hsl( var(--clr-neutral-400) );
}
.primary-header--container {
    position: relative;
    align-items: center;
    padding-block: 2rem;
}

@media (max-width: 1100px) {
    /* primary header */
    .primary-header {
        height: 100px;
    }
    .primary-header--container {
        position: relative;
        height: 100%;
        justify-content: flex-end;
    }
    /* logo */
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* logo */
.logo {
    align-items: center;
    --gap: 0;
    font-size: 2rem;
    font-weight: 500;
}
.logo .fa {
    margin-inline: 0.5rem;
}

@media (max-width: 30rem) {
    .logo {
        font-size: 1.5rem;
    }
}
@media (max-width: 20rem) {
    .logo {
        font-size: 1.25rem;
    }
}

/* primary nav */
.primary-nav {
    margin-left: auto;
    --gap: 1.5rem;
}
.primary-nav-link {
    transition: all 0.4s ease;
}
.primary-nav-link:hover,
.primary-nav-link:focus {
    color: hsl( var(--clr-primary) );
}
.primary-nav li.active {
    color: hsl( var(--clr-primary) );
}

@media (max-width: 1100px) {
    .primary-nav {
        position: fixed;
        height: 100vh;
        padding: 10rem 0 0 5rem;
        background: hsl( var(--clr-dark), 0.85);
        backdrop-filter: blur(1.5rem);
        inset: 0 55% 0 0;
        z-index: 999;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
    }
    .primary-nav[data-visible='true'] {
        transform: translateX(0);
    }
    .primary-nav-list {
        flex-direction: column;
    }
}

@media (max-width: 35rem) {
    .primary-nav {
        inset: 0 30% 0 0;
    }
}

/* contact div */
.contact-div {
    --gap: 0.5rem;
    margin-left: 5rem;
}

.phone-icon .fa {
    font-size: 1.875rem;
}

@media (max-width: 40rem) {
    .contact-number {
        display: none;
    }
    .phone-icon {
        font-size: var(--fs-700);
        margin-top: 4px;
    }
}

/* mobile nav toggle */
.mobile-nav-toggle {
    display: none;
}

@media (max-width: 1100px) {
    .mobile-nav-toggle {
        display: block;
        position: fixed;
        top: 2.5rem;
        left: 1rem;
        height: 1.5rem;
        aspect-ratio: 1;
        z-index: 1000;
        background-image: url(./assets/images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl( var(--clr-primary) );
    }
}

/* HERO */
.section-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 740px;
    min-height: 72vh;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.hero-image-div {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 420px;
    max-width: 50%;
    align-items: stretch;
    align-self: flex-end;
    flex: 1;
}

.hero-image-div img {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 100% 50%;
}

.container-hero {
    position: absolute;
    left: 0;
    right: 0;
}

.container-hero-content-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.container-hero-content {
    max-width: 95%;
}

@media screen and (max-width: 991px) {
    .section-hero {
        height: auto;
        min-height: auto;
        padding-top: 80px;
        justify-content: flex-start;
        align-items: stretch;
    }
    .container-hero {
        position: static;
    }
    .container-hero-content-grid {
        grid-template-columns: 1fr;
        margin-bottom: 80px;
    }
    .hero-image-div {
        max-width: 100%;
        overflow: hidden;
        min-height: 420px;
    }
}

@media (max-width: 479px) {
    .section-hero {
        padding-top: 60px;
    }
    .container-hero-content {
        max-width: 100%;
    }
}

/* FOOTER */
footer {
    background-color: hsl( var(--clr-dark) );
    color: #7c7c7c;
    padding-block: 3rem;
}

.logo-footer {
    position: initial;
    align-items: center;
    --gap: 0.5rem;
    font-size: 2rem;
}
@media (max-width: 20rem) {
    .logo-footer {
        font-size: 1.75rem;
    }
}

.logo-footer p {
    line-height: 1;
}

.footer-social-icons {
    --gap: 2rem;
}
.footer-social-icons .fa {
    cursor: pointer;
    font-size: 1.5rem;
}

.footer-heading {
    color: hsl( var(--clr-primary) );
    font-size: 1rem;
}

.footer ul li a {
    position: relative;
    padding-left: 15px;
}

.footer a:hover,
.footer a:focus {
    color: hsl( var(--clr-primary) );
}

.footer ul li a:before {
    content: "\f105";
    position: absolute;
    display: inline-block;
    left: 0;
    margin-top: 8px;
    font: normal normal normal 14px/1 FontAwesome;
}

.footer-info-item {
    align-items: center;
    --gap: 1rem;
}

.container-footer {
    flex-direction: column;
    --gap: 2rem;
}
.container-footer > * {
    width: 100%;
}

@media (min-width: 40rem) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container-footer > * {
        width: 45%;
    }
}

@media(min-width: 1200px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: nowrap;
        --gap: 4rem;
    }
    .container-footer > * {
        width: 100%;
    }
}

/* DARK BACKGROUND */
.dark-background {
    background-color: hsl( var(--clr-neutral-800) );
    height: 520px;
    min-height: 520px;
    color: hsl( var(--clr-neutral-100) );
}

.dark-background h2 {
    color: hsl( var(--clr-neutral-100) );
    margin-bottom: 48px;
    font-size: 54px;
    width: 60%;
}

.container-dark-bg {
    height: 100%;
    place-content: center;
}

@media (max-width: 991px) {
    .dark-background {
        height: 450px;
        min-height: 450px;
    }
    .dark-background h2 {
        font-size: 48px;
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .dark-background h2 {
        font-size: 40px;
        width: 100%;
    }
}

@media (max-width: 479px) {
    .dark-background {
        height: 460px;
        min-height: 460px;
    }
    .dark-background h2 {
        font-size: 34px;
    }
}

/* CONTACT */
.section-contact {
    background-color: hsl( var(--clr-neutral-200) );
}
.container-contact {
    flex-direction: column;
}
@media (min-width: 60rem) {
    .container-contact {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contact-left {
    width: 100%;
    max-width: 33%;
    min-width: 380px;
}

.contact-right {
    width: 100%;
    max-width: 58%;
}

.section-contact .fa {
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-neutral-100) );
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    min-width: 50px;
}

.contact-form .button-primary {
    width: 100%;
}

.contact-links {
    --flow-space: 1.5rem;
}

.contact-link {
    max-width: 320px;
}

@media (max-width: 60rem) {
    .contact-link {
        max-width: 100%;
    }
    .contact-left,
    .contact-right {
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }
    .contact-left {
        margin-bottom: 48px;
    }
}

form {
    padding: 80px 64px;
    background-color: #fff;
    box-shadow: 0 14px 24px 0 rgb(99 122 117 / 10%);
    display: grid;
    grid-template-columns: 1fr;
    --gap: 40px;
}

@media (max-width: 679px) {
    form {
        grid-template-columns: 1fr;
        padding: 60px 42px;
    }
}

@media (max-width: 991px) {
    form {
        grid-column-gap: 32px;
    }
}

.input {
    min-height: 72px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-width: 1px 1px 1.5px;
    border-color: #000 #000 #a0bdb6;
    border-radius: 0px;
    background-color: transparent;
    color: #142a25;
    font-size: 18px;
    line-height: 1.8em;
    width: 100%;
}

.text-area {
    min-height: 130px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-width: 1px 1px 1.5px;
    border-color: #000 #000 #a0bdb6;
    color: #142a25;
    font-size: 18px;
    line-height: 1.8em;
    grid-column: span 2;
    width: 100%;
}

::placeholder {
    color: hsl( var(--clr-neutral-500) );
    opacity: 1;
}

.contact-form {
    grid-template-areas: 
            "name"
            "email"
            "phone"
            "subject"
            "message"
            "submit";
}
@media (min-width: 40rem) {
    .contact-form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "name email"
            "phone subject"
            "message message"
            "submit .";
    }
}

.name {
    grid-area: name;
}
.email {
    grid-area: email;
}
.phone {
    grid-area: phone;
}
.subject {
    grid-area: subject;
}
.message {
    grid-area: message;
}
.submit {
    grid-area: submit;
}